.header{
    width: 90%;
    height: 15%;
    left: 5%;
    right: 5%;
    background-color: rgba(202, 24, 238, 0.795);
    border-radius: 0px 0px 30px 30px;
    position: absolute;
}
.menu{
    z-index: 1;
    width: 10%;
    height: 715px;
    left: 5%;
    background-color: rgba(23, 26, 177, 0.37);
    position: fixed;   
}
a{
    font-size: 20px;
    text-align: center;
    line-height: 150px;
    text-decoration: none;
    color:rgb(98, 13, 236);
    font-weight: bolder;
}
a:hover{
    color:rgb(248, 6, 167);
}
.center{
    width: 80%;
    height: 730px;
    left: 15.2%;
    top: 16.8%;
    background-color: rgba(112, 18, 235, 0.404);
    position: absolute; 
}
h1{
    text-align: center;
}

p{
    font-weight: bolder;
}
.link{
    font-size: 18px;
    font-weight: bolder;
}
li{
    font-size: 15px;
    font-weight: bolder;
}
.footer{
    z-index: 1;
    width: 90%;
    height: 15%;
    left: 5%;
    top: 858px;
    background-color: rgba(35, 103, 206, 0.973);
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    color: aliceblue;
}